<ion-header [translucent]="true">
  <ion-toolbar class="aboutus">
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="aboutus">
  <ion-card class="cardProfile">
    <img src="https://cdn.timesmedia.co.id/images/2020/06/12/UK-Petra-Surabaya.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Profile</ion-card-subtitle>
      <ion-card-title>Hello I'm Cynthia Wijaya</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Mahasiswa UK Petra Surabaya, Jurusan Informatika Angkatan 2018.

      <br/><br/>

      To Open My Photo Profile Please Win the Game!<br/>
      The rule: Please guess the correct hidden number from 1 to 10.
    </ion-card-content>

    <ion-row>
      <ion-col size="6">
        <ion-input type="number" [(ngModel)]="txtAngka" placeholder="Angka tebakan" style="background-color: yellow; margin-left: 10px;"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="tebakAngka()" style="margin-left: 10px;" size="small" color="success" fill="solid" expand="block">Guess</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
